@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F2EAEA;
}

.container{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

header{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('./img/pexels-ono-kosuki-5974053.jpg');
    background-position: center;
    background-size: cover;
}

.overlay{
    width:100vw;
    height: 100vh;
    background-color: rgba(240,240,240, 0.5);
    position: absolute;
    top: 0;
    left:0;
}

nav{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background: rgb(220,40,30);
    background: linear-gradient(90deg, rgba(220,40,30,1) 0%, rgba(240,0,0,0.8) 50%);
    margin-top:1rem;
}

header .nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(220,40,30);
    color:#fff;
    font-size: 2rem;
    position: absolute;
    right: 500px;
    width:100%;
    height:100vh;
    transition: 0.5s ease all;
}

.open{
    right:0 !important;
}

header .nav-links ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    z-index: 3;
}

header .nav-links li{
    margin:1.5rem auto;
    cursor: pointer;
}

header .nav-links li a{
    display: block;
}

nav img{
    z-index: 3;
    width:4rem;
    margin:0.3rem 1rem;
}

nav .ham-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:0.3rem 1rem;
    z-index: 3;
    cursor: pointer;
}

.open{
    display: block;
}

nav .ham-menu span{
    background-color: #fff;
    width:1.8rem;
    height:0.1rem;
}

header h1{
    z-index: 1;
    text-align: center;
    margin: auto;
    font-size: 2.4rem;
}

header h1 .red{
    color:#FF0000;
}

.quote{
    display: inline;
    z-index: 1;
    color:#fb0606;
    background: transparent;
    border:1px solid #fb0606;
    padding:0.4rem 1.5rem;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}

.header-footer{
    z-index: 1;
    background: rgb(220,40,30);
    background: linear-gradient(90deg, rgba(220,40,30,1) 0%, rgba(240,0,0,0.8) 100%);
    color:#d5d5d5;
    padding:0.3rem;
    text-align: center;
    margin-bottom:2rem;
}

.about{
    margin-top:5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:4rem 0.5rem;
    text-align: center;
}

.about .title .profile{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    top:-50px;
    width:7rem;
    height:7rem;
    background-image: url(./img/Profil\ 1.PNG);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border:3px solid #fff;
}

.about .title{
    margin-bottom:2rem;
}

.about .title h3{
    font-size: 1.8rem;
}

.about .title p{
    font-size: 1.2rem;
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(90deg, rgb(220,40,30,1), rgb(240,0,0,0.8));
    color:#fff;
}

.services .service-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:1rem;
    line-height: 1.5;
    
}

.services .service-card i{
    font-size:2rem;
    margin-bottom: 0.5rem;
}

.jobs{
    column-count: 1;
    padding: 1.5rem 0.6rem;
}

.jobs img{
    max-width:100%;
    display: block;
    margin:0.4rem auto;
}

.reviews{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding:1rem 0.5rem;
    margin:1rem auto;
    text-align: center;
}

.reviews h2{
    margin:1rem auto;
}

.reviews .review-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.reviews .review-card blockquote{
    font-style: italic;
    text-align: right;
    font-size: 0.7rem;
}


.contact{
    background: linear-gradient(90deg, rgb(220,40,30,1), rgb(240,0,0,0.8));
    color:#fff;
    padding:1rem 0.5rem;
    margin:1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    position: relative;
}

.my-form{
    display: grid;
    grid-template-columns: 1fr;
    gap:0.5rem;
}

.input-area{
    display: grid;
    grid-template-columns: 1fr;
}

input{
    font-family: 'Poppins', sans-serif;
    display:block;
    margin:0.5rem 0;
    border:none;
    border-radius: 15px;
    padding:0.5rem;
    outline: none;
}

select{
    font-family: 'Poppins', sans-serif;
    margin:0.5rem 0;
    border:none;
    border-radius: 15px;
    padding:0.5rem;
    outline: none;
}

textarea{
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;
    border-radius: 15px;
}

.submitButton{
    color:#fff;
    background: transparent;
    border:1px solid #fff;
    padding:0.4rem 1.5rem;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    margin: 1rem auto;
}

.contact .contact-footer{
    display: grid;
    grid-template-columns: 1fr;
    gap:0.8rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact .contact-footer p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:1rem;
}

#privacy{
    text-decoration: underline;
    font-size: 0.8rem;
}



.modal{
    background-color: rgba(0,0,0,0.9);
    width:100vw;
    height:100vh;
    position: absolute;
    z-index: 2;
    display: none;
    margin:0;
    top:0;
    left:0;
}

#privacy{
    position: relative;
}

.modal-header{
    display: flex;
    justify-content: flex-end;
    background-color: #fb0606;
    color:#fff;
    width:100%;
    height:1.5rem;
}

.modal-header i{
    font-size: 1rem;
    margin:0.2rem 1rem;
    cursor: pointer;
}


.modal .modal-text{
    margin:2rem auto;
    background-color: #fff;
    color:#000;
    padding: 1rem;
    width:80vw;
    height: 80vh;
    overflow: scroll;
    font-size: 0.5rem;
}






